{% extends 'info/base.html' %}

{% block css %}
<style>
    h3{
        margin: 0 20px 20px 20px;
        text-align: center;
        color:maroon;
    }
    .dept, .dept1{
        background-color: whitesmoke;
        padding: 20px 0;
        margin: 0;
    }
    .dept input{
        margin-bottom: 10px;
        width: 50%;
    }
    .dept label{
        padding-left: 100px;
        font-size: 17px;
        font-weight: bold;
    }
    .dept .row{
        margin-left: 200px;
    }
    #name{
        width: 80%;
    }
    
    table tr td a:hover {
        color: #036;
        text-decoration:none;
        opacity: 1;
        font-weight: bold;
    }
    table tr td a {
        color: #036;
        text-decoration:none;
        opacity: 0.7;
        font-weight: bold;
    }
    
   table td{
       padding-left: 10px;
   }
   table th{
       padding: 10px;
       background: white;
   }
   #de{
       margin-left: 20px;
   }
   table tr td a {
        color: maroon;
        text-decoration:none;
        opacity: 1; 
        font-weight: bold;
    }
   table tr td button a:hover {
        color: white;
        text-decoration:none;
        opacity: 1;
        font-weight: bold;
    }
    table tr td button a:hover {
        color: white;
        text-decoration:none;
        opacity: 1;
        font-weight: bold;
    }
    .bt a{
        padding: 3px 20px;
        font-weight: 700;
        text-decoration: none;    
        color: #036;
        width: 180px;       
    }
    .bt a:hover{  
        background-color: #036;
        color: white;       
    }
    .bt1{
        width: 80px;
    }
    .bt{
        background: white;
        border: none;
        padding: 2px 0px;
        font-weight: 700;
        text-decoration: none;    
        color: #036;
        
    }
    .bt:hover{
        background-color: #036;
        color: white;  
        
    }
    .top{
        padding-top: 20px;
    }
    .top select{
        width: 40%;
    }
</style>
{% endblock %}



{% block content %}

    <div class="container-fluid dept">

        <h3>Change Assigned Teacher</h3>
        <div style="height:5px; background-color: white;"></div>
        <form action="" method="post">
            {% csrf_token %}
           
            <div class="container-fluid top">
                
                <div class="row">
                    <div class="col-sm-3"><label for="">Teacher Name</label></div>
                    <div class="col-sm-9">{{ ob.teacher }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label for="">Class ID</label></div>
                    <div class="col-sm-9">{{ ob.class_id }}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label for="">Subject Name</label></div>
                    <div class="col-sm-9">{{ ob.course }}</div>
                </div>
                
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-1"><button type="submit" class="bt bt1">Update</button></div>                    
                    <div class="col-sm-1"><button class="bt"><a href="/info/admin/dept/{{ a.id }}/delete">Delete</a></button></div>
                </div>
             
            </div>

        </form>
    </div>
    
    <div style="height: 20px;"></div>
 
    <!-- ============================= -->

    <div class="container-fluid dept1">
        <h4 style="color: blueviolet;padding-left: 25px; font-family: 'Times New Roman', Times, serif;  ">ASSIGN TIMES</h4>
        <hr>

        <p id="de"><b>Search Class to Change</b>&nbsp;&nbsp;<input id="myInput" type="text" placeholder="Search..">
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="bt"><a href="" data-toggle="modal"  data-target="#addTimeModal">Assign Times</a></button>     
       
        <table class="table-bordered table-striped" width='100%'>
            <thead>
                <th>Period</th>
                <th>Day</th>
                <th >action</th>                                   
            </thead>
            <tbody id="myTable">
            {% for a in data %}  
                <tr>   
                    <td>{{ a.period }}</a></td> 
                    <td>{{ a.day }}</td> 
                    <td>
                        <button class="btn-success"><a href="/info/admin/assign/{{ a.id }}/change">Edit</a></button>
                        <button class="btn-danger"><a href="/info/admin/assign/{{ a.id }}/delete">Delete</a></button>
                    </td>                                         
                </tr>  
            {% endfor %} 
            
            </tbody>
            
        </table>
    </div>
    
    <!--================= ADD CLASSES MODEL ---------------->

    <div class="modal fade" id="addTimeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">        
            <form action="{% url 'add_classes' %}" method="post">
                {% csrf_token %}
                <!-- <div class="modal-content"> -->
                <div class="modal-content">
                    <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {{ ob.teacher }}
                        <table>
                            {{ ob1.as_table }}
                        </table>
                       <!-- <table>
                            <tr>
                                <th>Dept Name</th>
                                <td>{{ ob.dept }}</td>
                            </tr>
                           <tr>
                               <th> CLass ID</th>
                               <td><input type="text" name="id" placeholder="Enter Class ID" id="class_id" onkeyup="checclass()"><small id="result"></small></td>
                           </tr>
                           
                            <tr>
                                <th>Section</th>
                                <td>{{ob.section}}</td>
                            </tr>
                            <tr>
                                <th>Sem</th>
                                <td>{{ ob.sem }}</td>
                            </tr>
                       
                       </table>                         -->
                    </div>
                    <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="btb" type="submit">ADD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
            </script>
        <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
        </script>
        <script>
            function checclass(){
                 let sn = document.getElementById("class_id").value;
                 $.ajax({
                     url: "{% url 'check_class' %}",
                     type:"GET",
                     data:{id:sn},
                     
                     success:function(data){
                         if(data=="Exists"){
                             $("#result").html("Class Already Exists").addClass("text-danger");
                             $("#class_id").addClass("alert-danger");
                             $("#btb").attr("disabled","disabled");
                         }
                         else{
                             $("#result").html("")
                             $("#class_id").removeClass("alert-danger");
                             $("#btb").removeAttr("disabled","disabled");
                         }
                     }
                 })                
                
            }
        </script>
{% endblock %}